header {
  background-color: white;
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  flex: 1;
  height: 100px;


}
